.chakra-table__container td:first-child::first-letter,
.capitalize-first::first-letter {
  text-transform: capitalize;
}

.chakra-table td,
.chakra-table th {
  padding: 2px;
}

.chakra-numberinput__field {
  padding: 0.5em !important;
}